.feature-full-image{
    background-image: url('../../img/agon-feature-img-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 576px;
    margin: 5rem 0 15rem;
    @media (max-width: 760px) {
        margin: 5rem 0 7rem;
      }
    @media (max-width: 560px) {
        height: 400px;
        margin: 5rem 0 3rem;
    }
}

.feature-full-image--agon{
    background-image: url('../../img/agon-feature-img-bg.png');
}

.feature-full-image--agon-pro{
    background-image: url('../../img/agon-pro-feature-img-bg.png');
}

.feature-full-image--aoc-gaming{
    background-image: url('../../img/aoc-feature-bg.png');
}

.feature-full-image__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .feature-full-image__img{
        img{
            width: 780px;
            @media (max-width: 790px) {
                width: 100%;
              }
        }
    }
}