.porsche-page__idea{
    padding: 145px 0 175px;
    @media (max-width: 650px) {
        padding: 100px 0 100px;
    }
    @media (max-width: 450px) {
        padding: 50px 0 50px;
    }

    .idea-title{
        margin: 0 auto 70px;
        width: 600px;
        @media (max-width: 768px) {
            width: 475px;
        }
        @media (max-width: 500px) {
            width: 375px;
        }
        @media (max-width: 375px) {
            width: 350px;
        }
        @media (max-width: 350px) {
            max-width: 100%
        }
    }

    .idea-img{
        img{
            width: 100%;
            max-height: 890px;
            object-fit: contain;
        }
    }
}


    