@charset "UTF-8";
:root {
  --black: #121212;
  --black-95: #12121295;
  --black-90: #12121290;
  --black-85: #12121285;
  --black-80: #12121280;
  --black-75: #12121275;
  --black-70: #12121270;
  --black-65: #12121265;
  --black-60: #12121260;
  --black-55: #12121255;
  --black-50: #12121250;
  --black-45: #12121245;
  --black-40: #12121240;
  --black-35: #12121235;
  --black-30: #12121230;
  --black-25: #12121225;
  --black-20: #12121220;
  --black-15: #12121215;
  --black-10: #12121210;
  --black-05: #12121205;
  --yellow: #FFD700;
  --yellow-dark: #FEBE10;
  --yellow-darkest: #eaa800;
  --base-color: #FF8500;
  --base-color-50: #FF850050;
  --base-color-red: #D1050C;
  --base-color-purple: #7328CD;
  --base-color-ping: #DC466D;
  --icon-color: #ccc;
  --menu-bgcolor-button: #171717;
  --white: #ffffff;
  --white-98: #ffffff98;
  --white-97: #ffffff97;
  --white-96: #ffffff96;
  --white-95: #ffffff95;
  --white-90: #ffffff90;
  --white-85: #ffffff85;
  --white-80: #ffffff80;
  --white-75: #ffffff75;
  --white-70: #ffffff70;
  --white-65: #ffffff65;
  --white-60: #ffffff60;
  --white-55: #ffffff55;
  --white-50: #ffffff50;
  --white-45: #ffffff45;
  --white-40: #ffffff40;
  --white-35: #ffffff35;
  --white-30: #ffffff30;
  --white-25: #ffffff25;
  --white-20: #ffffff20;
  --white-15: #ffffff15;
  --white-10: #ffffff10;
  --white-05: #ffffff05;
  --border-radius: 16px;
  --border-radius-5: 5px;
  --border-size: 3px;
  --border-size-input: 2px;
  --swiper-theme-color: var(--base-color);
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 21px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-inactive-color: var(--white-25);
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: var(--border-radius-5);
  --swiper-navigation-color: var(--swiper-theme-color);
  --swiper-navigation-size: 4.5rem;
  --aoc-gaming-text: #FF6321;
  --aoc-gaming-features-primary: #FFED81;
  --aoc-gaming-features-secondary: #ED401B;
  --aoc-gaming-features-tertiary: #ED401B;
  --aoc-gaming-background-primary: #D96E04;
  --aoc-gaming-background-secondary: #450301;
  --aoc-gaming-background-tertiary: #130900;
  --aoc-agon-text: #EC3139;
  --aoc-agon-features-primary: #EEB649;
  --aoc-agon-features-secondary: #C53036;
  --aoc-agon-features-tertiary: #CD004B;
  --aoc-agon-background-primary: #880030;
  --aoc-agon-background-secondary: #2A0B03;
  --aoc-agon-background-tertiary: #000000;
  --aoc-agonpro-text: #918EFF;
  --aoc-agonpro-features-primary: #91B2F9;
  --aoc-agonpro-features-secondary: #A97EC5;
  --aoc-agonpro-features-tertiary: #8B91F3;
  --aoc-agonpro-background-primary: #523FE0;
  --aoc-agonpro-background-secondary: #27084A;
  --aoc-agonpro-background-tertiary: #030110;
}